In [1]:
from env import host, user, password
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from wrangle import get_db_url

In [ ]:
def get_db_url(database):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [ ]:
# Find all of the "Single Family Residential" properties from 2017.
sql = """
select 
bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
from properties_2017
join propertylandusetype using (propertylandusetypeid)
where propertylandusedesc = "Single Family Residential"
"""

df = pd.read_sql(sql, get_db_url("zillow"))
df.head()

In [ ]:
df.head()

In [ ]:
# What's the percentage of nulls?
df.isna().mean()

In [ ]:
# Check out the values and their frequencies for column.

df.calculatedfinishedsquarefeet.value_counts(dropna=False, ascending=True)

In [ ]:
# If we drop all rows containing any null, how much data do we have left?
round(df.dropna().shape[0] / df.shape[0], 4)

In [ ]:
df.shape

In [ ]:
# drop nulls
df = df.dropna()
df.info()

In [ ]:
df.head()

In [ ]:
# Change all column data tyes to int64, reassign to df, and verify.

df = df.astype('int')
df.info()

In [ ]:
(df.bathroomcnt == df.bathroomcnt.astype(int)).mean()

In [ ]:
# fips, yearbuilt, and bedrooms can be integers
df["fips"] = df["fips"].astype(int)
df["yearbuilt"] = df["yearbuilt"].astype(int)
df["bedroomcnt"] = df["bedroomcnt"].astype(int)
df["taxvaluedollarcnt"] = df["taxvaluedollarcnt"].astype(int)
df["calculatedfinishedsquarefeet"] = df["calculatedfinishedsquarefeet"].astype(int)

In [ ]:
df.dtypes

In [ ]:
df.calculatedfinishedsquarefeet.sort_values(ascending=False).head(10)

In [ ]:
# What percentage of properties have 6 or less bathrooms?
df[df.bathroomcnt <= 6].shape[0] / df.shape[0]

In [ ]:
df['size'] = np.where((df['calculatedfinishedsquarefeet'] > 500) & (df['calculatedfinishedsquarefeet'] < 10000), df['calculatedfinishedsquarefeet'], df.calculatedfinishedsquarefeet.mean())

In [ ]:
df.head()

In [ ]:
df = df.rename(columns = {'bedroomcnt':'bed_cnt', 'bathroomcnt':'bath_cnt', 'calculatedfinishedsquarefeet':'SqFt', ''}, inplace = True)

In [ ]:
sns.displot(x='size', data=df)

plt.title('sqft')
plt.show()

In [2]:
from wrangle import wrangle_zillow

In [3]:
df = wrangle_zillow()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [4]:
df.head()

   bedroom_cnt  bath_cnt  SqFt  tax_value  year_built  tax_amount  fips
0            4       2.0  3633     296425        2005     6941.39  6037
1            3       4.0  1620     847770        2011    10244.94  6037
2            3       2.0  2077     646760        1926     7924.68  6037
3            0       0.0  1200       5328        1972       91.60  6037
4            0       0.0   171       6920        1973      255.17  6037