In [1]:
import numpy as np
import pandas as pd
import wrangle
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from env import host, user, password
from wrangle import wrangle_zillow 
import pydataset

In [2]:
def get_db_url(database):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [3]:
# Find all of the "Single Family Residential" properties from 2017.
sql = """
select 
bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips, hashottuborspa, poolcnt
from properties_2017
join propertylandusetype using (propertylandusetypeid)
where propertylandusedesc = "Single Family Residential"
"""

df = pd.read_sql(sql, get_db_url("zillow"))
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,hashottuborspa,poolcnt
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0,NaN,NaN
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0,NaN,NaN
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0,NaN,NaN
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0,NaN,NaN
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0,NaN,NaN

In [4]:
df = wrangle_zillow()

In [ ]:
df.head()

In [ ]:
df.hot_tub/spa.

In [ ]:
#Split the data before performing scaling on the train portion
seed = 42

train, valid_test = train_test_split(df, test_size=0.3,
                                     random_state=seed)

valid, test = train_test_split(valid_test, test_size=0.5,
                               random_state=seed)

In [ ]:
train.shape

In [ ]:
train_subset = train[train['bath_cnt'] <= 8]

In [ ]:
train.head()

In [ ]:
train.bath_cnt.value_counts()

In [ ]:
train.info()